<form [formGroup]="employeeCreateForm" (ngSubmit)="onSubmit()">
  <!--  EMPLOYEE NAME-->
  <div
    [ngClass]="{ 'text-danger': name.invalid && (name.dirty || name.touched) }"
    class="form-group"
  >
    <label class="text-capitalize text-label" for="name">employee name {{ count }}</label>
    <input
      formControlName="name"
      [ngClass]="{ 'border-danger': name.invalid && (name.dirty || name.touched) }"
      type="text"
      class="form-control"
      id="name"
      placeholder="employee name"
    />
    <small *ngIf="(name.dirty || name.touched) && name.errors?.required" class="text-danger"
      >name is required</small
    >
    <small *ngIf="(name.dirty || name.touched) && name.errors?.minlength" class="text-danger"
      >your name now is {{ name.errors?.minlength.actualLength }} and minimum length is
      {{ name.errors?.minlength.requiredLength }} characters</small
    >
    <small *ngIf="(name.dirty || name.touched) && name.errors?.maxlength" class="text-danger"
      >your name now is {{ name.errors?.maxlength.actualLength }} and maximum length is
      {{ name.errors?.maxlength.requiredLength }} characters</small
    >
  </div>
  <!--  EMPLOYEE EMAIL-->
  <div
    [ngClass]="{ 'text-danger': email.invalid && (email.dirty || email.touched) }"
    class="form-group"
  >
    <label class="text-capitalize text-label" for="email">employee email</label>
    <input
      formControlName="email"
      [ngClass]="{ 'border-danger': email.invalid && (email.dirty || email.touched) }"
      type="email"
      class="form-control"
      id="email"
      placeholder="employee email"
    />
    <small *ngIf="(email.dirty || email.touched) && email.errors?.required" class="text-danger"
      >email is required</small
    >
    <small *ngIf="(email.dirty || email.touched) && email.errors?.email" class="text-danger"
      >your email must be correct</small
    >
  </div>
  <!--  SKILLS GROUP-->
  <div class="form-group" formGroupName="skills">
    <div class="form-group">
      <label class="text-capitalize text-label">employee skills</label>
      <div class="form-row">
        <div class="col">
          <input formControlName="skillName" class="form-control" placeholder="skill name" />
        </div>
        <div class="col">
          <input
            formControlName="skillExperience"
            class="form-control"
            placeholder="skill in years"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="text-capitalize text-label">employee proficiency</label>
      <div class="form-row">
        <div class="form-check form-check-inline">
          <input
            formControlName="skillProficiency"
            class="form-check-input"
            type="radio"
            id="beginner"
            value="beginner"
          />
          <label class="form-check-label text-capitalize label-cursor" for="beginner"
            >beginner</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            formControlName="skillProficiency"
            class="form-check-input"
            type="radio"
            id="intermediate"
            value="intermediate"
          />
          <label class="form-check-label text-capitalize label-cursor" for="intermediate"
            >intermediate</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            formControlName="skillProficiency"
            class="form-check-input"
            type="radio"
            id="advanced"
            value="advanced"
          />
          <label class="form-check-label text-capitalize label-cursor" for="advanced"
            >advanced</label
          >
        </div>
      </div>
    </div>
  </div>
  <!--  PHONES-->
  <div formArrayName="users">
    <h3>users list</h3>
    <button (click)="onAddNewUser()" type="button" class="btn btn-secondary">
      add new user
    </button>
    <div *ngFor="let user of employeeCreateForm.get('users').controls; let idx = index">
      <div class="form-group" [formGroupName]="idx.toString()">
        <input type="text" formControlName="firstName" />
        <input type="text" formControlName="lastName" />
      </div>
    </div>
  </div>
  <!--  SUBMIT BUTTON-->
  <button type="submit" class="btn btn-primary text-capitalize mr-2">
    submit
  </button>
  <button (click)="loadData()" type="button" class="btn btn-primary text-capitalize">
    load data
  </button>
</form>
