<form [formGroup]="employeeCreateForm" (ngSubmit)="onSubmit()">
  <!--  EMPLOYEE NAME-->
  <div [ngClass]="{ 'text-danger': formErrors.name }" class="form-group">
    <label class="text-capitalize text-label" for="name">employee name</label>
    <input
      formControlName="name"
      [ngClass]="{ 'border-danger': formErrors.name }"
      (blur)="logValidationErrors()"
      type="text"
      class="form-control"
      id="name"
      placeholder="employee name"
    />
    <div class="controlErrors" *ngIf="formErrors.name">
      <small>{{ formErrors.name }}</small>
    </div>
  </div>

  <!--  CONTACT PREFERENCE-->
  <div class="form-group">
    <label class="text-capitalize text-label">contact preference</label>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <input
          formControlName="contactPreference"
          class="form-check-input"
          type="radio"
          id="contactEmail"
          value="email"
        />
        <label class="form-check-label text-capitalize label-cursor" for="contactEmail"
          >email</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          formControlName="contactPreference"
          class="form-check-input"
          type="radio"
          id="contactPhone"
          value="phone"
        />
        <label class="form-check-label text-capitalize label-cursor" for="contactPhone"
          >phone</label
        >
      </div>
    </div>
  </div>

  <!--  EMAIL GROUP-->
  <div formGroupName="emailGroup">
    <!--  EMPLOYEE EMAIL-->
    <div [ngClass]="{ 'text-danger': formErrors.email }" class="form-group">
      <label class="text-capitalize text-label" for="email">employee email</label>
      <input
        formControlName="email"
        [ngClass]="{ 'border-danger': formErrors.email }"
        (blur)="logValidationErrors()"
        type="email"
        class="form-control"
        id="email"
        placeholder="employee email"
      />
      <div class="controlErrors" *ngIf="formErrors.email">
        <small>{{ formErrors.email }}</small>
      </div>
    </div>

    <!--  EMPLOYEE CONFIRM EMAIL-->
    <div
      [ngClass]="{ 'text-danger': formErrors.confirmEmail || formErrors.emailGroup }"
      class="form-group"
    >
      <label class="text-capitalize text-label" for="confirmEmail">employee confirm email</label>
      <input
        formControlName="confirmEmail"
        [ngClass]="{ 'border-danger': formErrors.confirmEmail }"
        (blur)="logValidationErrors()"
        type="email"
        class="form-control"
        id="confirmEmail"
        placeholder="employee confirm email"
      />
      <div class="controlErrors" *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
        <small>{{
          formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup
        }}</small>
      </div>
    </div>
  </div>

  <!--  EMPLOYEE PHONE-->
  <div class="form-group" [ngClass]="{ 'text-danger': formErrors.phone }">
    <label class="text-capitalize text-label" for="email">employee phone</label>
    <input
      formControlName="phone"
      [ngClass]="{ 'border-danger': formErrors.phone }"
      (blur)="logValidationErrors()"
      type="phone"
      class="form-control"
      id="phone"
      placeholder="employee phone"
    />
    <div class="controlErrors" *ngIf="formErrors.phone">
      <small>{{ formErrors.phone }}</small>
    </div>
  </div>

  <!--  SKILLS GROUP-->
  <div class="d-flex flex-column ">
    <label class="text-capitalize text-label">employee skills</label>
    <button
      type="button"
      (click)="addNewSkillGroup()"
      class="btn btn-primary text-capitalize"
      [disabled]="employeeCreateForm.get('skills').invalid"
    >
      add new skill
    </button>
    <div
      formArrayName="skills"
      *ngFor="let skill of employeeCreateForm.get('skills').controls; let idx = index"
    >
      <hr class="hr-divider" *ngIf="idx > 0" />
      <div class="form-group mt-4 border border-info rounded p-4" [formGroupName]="idx.toString()">
        <div class="form-group">
          <div class="form-row mt-2">
            <div
              class="col-5"
              [ngClass]="{
                'text-danger': skill.get('skillName').invalid && skill.get('skillName').touched
              }"
            >
              <input
                formControlName="skillName"
                [id]="'skillName' + idx"
                [ngClass]="{
                  'border-danger': skill.get('skillName').invalid && skill.get('skillName').touched
                }"
                class="form-control"
                placeholder="JavaScript, TypeScript and etc"
              />
              <div
                class="controlErrors"
                *ngIf="skill.get('skillName').invalid && skill.get('skillName').touched"
              >
                {{ 'skillname is required' }}
              </div>
            </div>
            <div
              class="col-5"
              [ngClass]="{
                'text-danger':
                  skill.get('skillExperience').errors?.required &&
                  skill.get('skillExperience').touched
              }"
            >
              <input
                formControlName="skillExperience"
                [id]="'skillExperience' + idx"
                [ngClass]="{
                  'border-danger':
                    skill.get('skillExperience').invalid && skill.get('skillExperience').touched
                }"
                class="form-control"
                placeholder="in years"
              />
              <div
                class="controlErrors"
                *ngIf="
                  skill.get('skillExperience').errors?.required &&
                  skill.get('skillExperience').touched
                "
              >
                {{ 'skillExperience is required' }}
              </div>
            </div>
            <div
              *ngIf="employeeCreateForm.get('skills').length > 1"
              class="col-2 d-flex justify-content-center"
            >
              <button
                title="Delete Skill"
                type="button"
                (click)="removeSkillGroup(idx)"
                class="btn btn-danger btn-block"
              >
                delete
              </button>
            </div>
          </div>
        </div>
        <div
          class="form-group"
          [ngClass]="{
            'text-danger':
              skill.get('skillProficiency').invalid && skill.get('skillProficiency').touched
          }"
        >
          <!--RADIO GROUP-->
          <label class="text-capitalize text-label">employee proficiency</label>
          <div class="form-row">
            <div class="form-check form-check-inline">
              <input
                formControlName="skillProficiency"
                class="form-check-input"
                type="radio"
                [id]="'beginner' + idx"
                value="beginner"
              />
              <label
                class="form-check-label text-capitalize label-cursor"
                [attr.for]="'beginner' + idx"
                >beginner</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                formControlName="skillProficiency"
                class="form-check-input"
                type="radio"
                [id]="'intermediate' + idx"
                value="intermediate"
              />
              <label
                class="form-check-label text-capitalize label-cursor"
                [attr.for]="'intermediate' + idx"
                >intermediate</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                formControlName="skillProficiency"
                class="form-check-input"
                type="radio"
                [id]="'advanced' + idx"
                value="advanced"
              />
              <label
                class="form-check-label text-capitalize label-cursor"
                [attr.for]="'advanced' + idx"
                >advanced</label
              >
            </div>
          </div>
          <div
            class="controlErrors"
            *ngIf="
              skill.get('skillProficiency').errors?.required &&
              skill.get('skillProficiency').touched
            "
          >
            {{ 'Proficiency is required' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  SUBMIT BUTTON-->
  <button type="submit" class="btn btn-primary text-capitalize mr-2">
    submit
  </button>
  <button (click)="loadData()" type="button" class="btn btn-primary text-capitalize">
    load data
  </button>
</form>
